.avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 8px;

}

.avatarWithBorder {
    box-sizing: initial; /*FAZ COM Q QND BOTO BORDA ELE FACA UM ESPACO A MAIS E NAO ESPREMA O ELEMENTO*/
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
    border: 4px solid var(--gray-800);
    outline: 2px solid var(--green-500);
}